<div class="hero-container">
    <div class="text-content">
      <h3 class="greeting">HELLO!</h3>
      <h1 class="name">I Am Nibu George</h1>
      <p class="description">I'm a Web Developer with extensive experience for over 5 years. My expertise is to create and Websites design, graphic design and many more...</p>
      <div class="buttons">
        <button class="view-work-button">View Work</button>
        <button class="hire-me-button">Hire Me</button>
      </div>
    </div>
    <div class="image-container">
      <img src="assets/images/one.jpg" alt="Your Profile">
    </div>
  </div>